<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Franchisee Index</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
  <style>
	.box {
		height: 50px;
		width: 50px;
		text-align: center;
		border: 1px solid black;
		border-radius: 5px;
	}
	
	.center {
		text-align: center;
	}
	
	#seat {
		margin-left: auto;
		margin-right: auto;
		border: "0";
	}
	#seat div{
   		background-color: #FFFFFF;
	}
	
	::-webkit-scrollbar{width: 16px;}
		::-webkit-scrollbar-track {background-color:#4C4C4C;}
		::-webkit-scrollbar-thumb {background-color:#6799FF;border-radius: 10px;}
		::-webkit-scrollbar-thumb:hover {background: #555;}
		::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
		width:16px;height:16px;background:#4C4C4C;} 

</style>
</head>

<body>

<!-- Navigation -->
  <div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/franchiseeIndex">PI-CA-BOO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
      	  <li class="nav-item">
            <label class="nav-link" th:text="${memberName}"></label>
          </li>
       
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#">modify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   </div>
  </div>
  <!-- Page Content -->
	<div class="container-fluid jumbotron my-4">
	
	  <!-- pc방 상세 페이지 -->
	  <h1 class="my-4" th:text="${franchisee.franchiseeName}"></h1>
	  
	  		
	  <!-- pc방 정보 -->
	  <div class="col-md-4">
	    <h3 class="my-3">PC방 정보</h3>
	    <div th:object="${franchisee}">
		     <p th:text="*{franchiseeCrn}">
		     <p th:text="*{franchiseePhone}">
   		</div>
	    <h3 class="my-3">PC방 사양</h3>
	    
	    <ul>
	      <li>9700</li>
	      <li>2080</li>
	      <li>16G</li>
	      <li>짜파게티 보유</li>
	    </ul>
	  </div>
	  
	  <h2><small>좌석 정보</small></h2>
	  <!-- 좌석 정보 테이블 -->
	
	  <div class="row">
	    <div class="col-md-8">
	      <div style="overflow:auto">
	      	<table id="seat"></table>
	    </div>	             
	  </div>
	
	  </div>
	  <!-- /.row -->
	
	  <!-- 가맹점 관리 버튼 -->
	  <h3 class="my-4">관리 메뉴</h3>
	
	  <div class="row">
		
			
	    <div th:if="${size<1}" class="col-md-3 col-sm-6 mb-4">
	      <a href="#" th:href="@{/addFranchiseeSeat?(franchiseeNo=${franchisee.franchiseeNo})}">좌석 입력</a>
	    </div>
	
		<div th:if="${size>0}" class="col-md-3 col-sm-6 mb-4">
	      <a href="#" th:href="@{/removeSeat?(franchiseeNo=${franchisee.franchiseeNo})}">좌석 삭제</a>
	    </div>
	
	    <div class="col-md-3 col-sm-6 mb-4">
	      <a href="#" th:href="@{/addFranchiseeInfo?(franchiseeNo=${franchisee.franchiseeNo})}">가맹점 정보 입력</a>
	    </div>
	
	    <div class="col-md-3 col-sm-6 mb-4">
	      <a href="#" th:href="@{/removeFranchiseeInfo?(franchiseeNo=${franchisee.franchiseeNo})}">가맹점 정보 삭제</a>
	    </div>
	
	  </div>
	  <!-- /.row -->
	
	</div>
  <!-- /.container -->
  <!-- Footer -->
  <div th:fragment="copyright">
	  <footer class="py-5 bg-dark">
	    <div class="container">
	      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
	    </div>
	    <!-- /.container -->
	  </footer>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script th:inline="javascript">
	 let seat = /*[[${seat}]]*/
	 //console.log(seat);
	 let html = "";
	 let a = 0;
	 let b = 0;
	 let rowMax = 0;
	 let colsMax = 0;
	 
	 $(seat).each(function(index,item){
		 if(item.seatRow > rowMax){
			 rowMax = item.seatRow;
		 }
		 if(item.seatCols > colsMax){
			 colsMax = item.seatCols
		 }
	 })
	 //console.log(rowMax)
	 //console.log(colsMax)
	 
	 for(let row=1; row<=rowMax; row++){
		 html += "<tr id='"+row+"'>"
		 
		 for(let cols=1; cols<=colsMax; cols++){
			 html += "<td id='"+cols+"'>"
			 html += "<div class='box'></div>";
			 html += "</td>";
		 }
		 
		 html += "</tr>"
	 }
	 $("#seat").html(html);
	 
	$(document).ready(function(){
			$("#seat tr td").each(function(index1,item1){
				//console.log($(this).closest('tr').attr('id'))
				let $this = $(this)
				let trId = $this.closest('tr').attr('id')
				let tdId = $this.closest('td').attr('id')
				/* console.log("tr",trId)
				console.log("td",tdId) */
				$(seat).each(function(index2,item2){
					if(trId == item2.seatRow && tdId == item2.seatCols){
						/* console.log(item2.seatNo) */
						$this.children().append("pc"+item2.seatNo)
						console.log(item2)
						let use = item2.seatUse
						switch(use){
							case "Y":
								$this.children().css("background-color","#B5B2FF");
								$this.children().append("<br>사용중");
								break;
							case "N":
								$this.children().css("background-color","#A0BAED");
								$this.children().append("<br>빈자리");
								break;
						}
					}
					
				})
			})
		})

</script>
</body>

</html>