<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Franchisee Index</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
  <style>
   .box {
      height: 50px;
      width: 50px;
      text-align: center;
      border: 1px solid black;
      border-radius: 5px;
   }
   
   .center {
      text-align: center;
   }

   ::-webkit-scrollbar{width: 16px;}
      ::-webkit-scrollbar-track {background-color:#4C4C4C;}
      ::-webkit-scrollbar-thumb {background-color:#6799FF;border-radius: 10px;}
      ::-webkit-scrollbar-thumb:hover {background: #555;}
      ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
      width:16px;height:16px;background:#4C4C4C;} 

</style>
</head>

<body>

<!-- Navigation -->
  <div th:fragment="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/franchiseeIndex">PI-CA-BOO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
           <li class="nav-item">
            <label class="nav-link" th:text="${memberName}"></label>
          </li>
       
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mypageFranchisee">MyPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   </div>
  
  <!-- /.container -->
  <div class="container jumbotron my-4">
   <h4>가맹점 등록</h4>
		<form action="/QnAFranchisee" class="was-validated" method="post" >
		   <div class="form-group">
		   	<label>QnA_Category</label>
			<select name="qnaType" class="form-control" id="qnaType" required>
				<option value="이용문의">이용문의</option>
				<option value="가입">가입/로그인</option>
				<option value="예약">pc방찾기/예약</option>
				<option value="회원정보">회원정보</option>
				<option value="이벤트">이벤트</option>
				<option value="pc방게임대회">pc방게임대회</option>
				<option value="기타">기타</option>
			</select>
		   </div>  
		   
			<div class="form-group">
				<label for="qnaTitle">QnA_Title:</label> 
				<input type="text" class="form-control" id="qnaTitle" placeholder="Enter qnaTitle" name="qnaTitle" required>
				<div class="valid-feedback">입력완료.</div>
				<div class="invalid-feedback">문의 제목을 입력하여주세요.</div>
			</div>
			
			<div class="form-group">
				<label for="qnaContent">QnA_Content:</label> 
				<textarea class="form-control" cols="50" rows="10" id="qnaQuestion" name="qnaQuestion" required></textarea>
				<div class="valid-feedback">입력완료.</div>
				<div class="invalid-feedback">문의 내용을 입력하여주세요.</div>
			</div>	
			
			<div class="form-group form-check">
				<label class="form-check-label"> <input
					class="form-check-input" type="checkbox" name="remember" required>
					답변 메일 수신을 동의하십니까?
					<div class="valid-feedback">동의</div>
					<div class="invalid-feedback">수신 동의 필요</div>
				</label>
			</div>
			
			<button id="addButton" type="submit" class="btn btn-primary">입력</button>
		</form>
	</div>
   <!-- Footer -->
   <div th:fragment="copyright">
      <footer class="py-5 bg-dark">
       <div class="container">
         <p class="m-0 text-center text-white">Copyright &copy; PICABOO 2019</p>
        </div>
        <!-- /.container -->
       </footer>
   </div>

  <script>
	$("#addButton").click(function(){
	 alert("문의가 정상적으로 등록되었습니다.");
	});
  </script>
  
</body>

</html>