<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#logo {
	text-align: center;
	height: 170px;
}

.gradation {
	background: linear-gradient(to right bottom, #B96BC6, #FE5196);
}

.zoom {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.03);
	box-shadow: 10px 10px 5px grey;
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#add{
	text-align:right;
}
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Franchisee Index</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
  <div th:fragment="nav">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/franchiseeIndex">PI-CA-BOO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mypageFranchisee">MyPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
   </nav>
  </div>
  
	<div class="container" style="padding: 10px;">
	<div th:each="list:${franchiseeQnAselect}">
	
		<h4>QnA</h4>
		<div class="form-group">
			<label>QnA_Category</label> 
			<input type="text" th:value="${list.qnaType}" class="form-control" readonly="readonly">
		</div>
		
		<div class="form-group">
			<label for="qnaTitle">QnA_Title:</label> 
			<input type="text" th:value="${list.qnaTitle}" class="form-control" readonly="readonly">
		</div>
		<div class="form-group">
			<label for="qnaContent">QnA_Content:</label>
			<textarea th:text="${list.qnaQuestion}" class="form-control" cols="50" rows="10" name="qnaQuestion" readonly="readonly"></textarea>
		</div>
		<div class="form-group" th:if="${list.qnaAnswer} != null">
			<label for="qnaContent">QnA_Answer:</label>
			<textarea th:text="${list.qnaAnswer}" class="form-control" cols="50" rows="1" name="qnaQuestion" readonly="readonly"></textarea>
		</div>
	</div>
	</div>

  <!-- Footer -->
  <div th:fragment="copyright">
	  <footer class="py-5 bg-dark">
	    <div class="container">
	      <p class="m-0 text-center text-white">Copyright &copy; PICABOO 2019</p>
	    </div>
	    <!-- /.container -->
	  </footer>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>