<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.picaboo.nor.franchisee.mapper.FranchiseeMapper">

	<!-- 사양 리스트 조회 -->
	<select id="selectSpec" resultType="com.picaboo.nor.franchisee.vo.Spec" parameterType="string">
	<![CDATA[
		SELECT 
			spec_no as specNo,
			spec_name as specName
		FROM spec
		WHERE spec_type = #{specType}
		ORDER BY spec_name
	]]>   
	</select>
	<!-- FAQ 카운트 조회 -->
	<select id="selectFranchiseeFAQCount" resultType="int" parameterType="string">
	<![CDATA[
		SELECT COUNT(*)
		FROM franchisee_faq
	]]>
		<where>
		   <if test="searchWord != null">
		   <![CDATA[
		      faq_title like CONCAT('%', #{searchWord}, '%')
		   ]]>  
		   </if>
		</where>
	</select>
   
	<!-- FAQ 리스트 출력 -->
	<select id="selectFranchiseeFAQ"
	      resultType="com.picaboo.nor.franchisee.vo.FranchiseeFAQ"
	      parameterType="com.picaboo.nor.franchisee.vo.FranchiseeFAQPage">
	<![CDATA[
	   SELECT 
	      faq_no as faqNo,
	      faq_title as faqTitle,
	      faq_content as faqContent
	   FROM franchisee_faq
	]]>
	   <where>
	      <if test="searchWord != null">
	   	  <![CDATA[
	         faq_title like CONCAT('%', #{searchWord}, '%')
	      ]]>   
	      </if>
	   </where>
	   <![CDATA[
	   LIMIT #{beginRow}, #{rowPerPage}
	   ]]>
	</select>
   
	<!-- 가맹점 사진 조회 -->
	<!-- 저장된 파일 이름, 확장명, 원래 파일 이름, 가맹점 번호 조회 -->
	<select id="selectFranchiseePic" parameterType="string" resultType="com.picaboo.nor.franchisee.vo.FranchiseePic">
	<![CDATA[
	   SELECT 
	      franchisee_no as franchiseeNo,
	      file_name as fileName,
	      extension as extension,
	      origin_name as originName
	   FROM franchisee_pic
	   WHERE franchisee_no = #{franchiseeNo}
	]]>
	</select>
	
	<!-- 가맹점 pc사양 조회 -->
	<select id="selelctFranchiseeSpec" parameterType="string" resultType="com.picaboo.nor.franchisee.vo.FranchiseeSpec">
	<![CDATA[
	   SELECT 
	      franchisee_no as franchiseeNo,
	      cpu as cpu,
	      vga as vga,
	      ram as ram
	   FROM franchisee_spec
	   WHERE franchisee_no = #{franchiseeNo}
	]]>
	</select>
	
	<!-- 가맹점 pc사양 입력 -->
	<insert id="insertFranchiseeSpec" parameterType="com.picaboo.nor.franchisee.vo.FranchiseeSpec">
	<![CDATA[
	   INSERT INTO franchisee_spec(
	      franchisee_no,
	      cpu,
	      vga,
	      ram
	   ) VALUES (
	      #{franchiseeNo},
	      #{cpu},
	      #{vga},
	      #{ram}
	   )
	]]>
	</insert>
	
	<!-- 가맹점 사진 입력 -->
	<insert id="insertFranchiseePic" parameterType="com.picaboo.nor.franchisee.vo.FranchiseePic">
	<![CDATA[
	   INSERT INTO franchisee_pic (
	      franchisee_no,
	      file_name,
	      extension,
	      content_type,
	      size,
	      origin_name
	   ) VALUES(
	      #{franchiseeNo},
	      #{fileName},
	      #{extension},
	      #{contentType},
	      #{size},
	      #{originName}
	   )
	]]>   
	</insert>
	
	<!-- 가맹점 좌석 삭제 -->
	<delete id="deleteSeat" parameterType="com.picaboo.nor.franchisee.vo.Franchisee">
	<![CDATA[
	     DELETE FROM seat
	     WHERE franchisee_no = #{franchiseeNo}
	]]>   
	</delete>
	
	<!-- 가맹점 좌석정보 조회 -->
	<select id="selectSeat" parameterType="string" resultType="com.picaboo.nor.franchisee.vo.Seat">
	<![CDATA[
	   SELECT 
	      seat_no as seatNo,
	      seat_row as seatRow,
	      seat_cols as seatCols,
	      seat_use as   seatUse   
	   FROM seat
	   WHERE franchisee_no = #{franchiseeNo}
	]]>   
	</select>
	
	<!-- 가맹점 상세정보 조회 -->
	<select id="selectFranchiseeOne" parameterType="string" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
	<![CDATA[
	   SELECT 
	      franchisee_no as franchiseeNo,
	      franchisee_crn as franchiseeCrn,
	      franchisee_name as franchiseeName,
	      franchisee_phone as franchiseePhone,
	      franchisee_pic as franchiseePic,
	      owner_no as ownerNo
	   FROM franchisee
	   WHERE franchisee_no = #{franchiseeNo}
	]]>   
	</select>
	
	<!-- 로그인한 점주의 가맹점 리스트 조회 -->
	<select id="selectFranchiseeList" parameterType="string" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
	<![CDATA[
	   SELECT 
	      franchisee_no as franchiseeNo,
	      franchisee_name as franchiseeName,
	      franchisee_pic as franchiseePic
	   FROM franchisee
	   WHERE owner_no = #{owner_no}
	]]>   
	</select>
	
	<!-- 점주가 선택한 자리의 값들을 seat db에 저장 -->
	<!-- 좌석 입력 -->
	<insert id="insertFranchiseeSeat" parameterType="com.picaboo.nor.franchisee.vo.Seat" >
	<![CDATA[
	   INSERT INTO seat(
	      seat_no, 
	      seat_row, 
	      seat_cols,
	      franchisee_no
	   ) VALUES(
	      #{seatNo}, 
	      #{seatRow}, 
	      #{seatCols},
	      #{franchisee.franchiseeNo}
	   )
	]]>
	</insert>
	
	<!-- 가맹점 등록 -->
	<insert id="insertFranchisee" parameterType="com.picaboo.nor.franchisee.vo.Franchisee" >
	<![CDATA[
	   INSERT INTO franchisee(
	      franchisee_no, 
	      franchisee_crn, 
	      franchisee_name,
	      franchisee_phone,
	      owner_no
	   ) VALUES(
	      #{franchiseeNo},
	      #{franchiseeCrn}, 
	      #{franchiseeName},
	      #{franchiseePhone},
	      #{ownerNo}
	   )
	]]>
	</insert>
	
	<!-- 마지막 가맹점번호 조회 -->
	<select id="selectFranchiseeSeq" resultType="string">
	<![CDATA[
	   SELECT seq_no
	   FROM franchisee_seq
	]]>
	</select>
	
	<!-- 마지막 가맹점번호 갱신 -->
	<update id="updateFranchiseeSeq" parameterType="string">
	<![CDATA[
	   UPDATE franchisee_seq
	   SET seq_no = #{seqNo}
	]]>
	</update>
   
</mapper>