<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.picaboo.nor.franchisee.mapper.FranchiseeMapper">

	<!-- 점주가 선택한 자리의 값들을 seat db에 저장 -->
	<!-- 좌석 입력 -->
	<insert id="insertFranchiseeSeat" parameterType="com.picaboo.nor.franchisee.vo.Seat" >
		INSERT INTO seat(
			seat_no, 
			seat_row, 
			seat_cols
		) VALUES(
			#{seatNo}, 
			#{seatRow}, 
			#{seatCols}
		)
	</insert>
	
	<!-- 가맹점 등록 -->
	<insert id="insertFranchisee" parameterType="com.picaboo.nor.franchisee.vo.Franchisee" >
		INSERT INTO franchisee(
			franchisee_no, 
			franchisee_crn, 
			franchisee_name,
			franchisee_phone
		) VALUES(
			#{franchiseeNo},
			#{franchiseeCrn}, 
			#{franchiseeName},
			#{franchiseePhone}
		)
	</insert>
	
	<!-- 마지막 가맹점번호 조회 -->
	<select id="selectFranchiseeSeq" resultType="string">
		SELECT seq_no
		FROM franchisee_seq
	</select>
	
	<!-- 마지막 가맹점번호 갱신 -->
	<update id="updateFranchiseeSeq" parameterType="string">
		UPDATE franchisee_seq
		SET seq_no = #{seqNo}
	</update>
	
</mapper>