<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>singupType</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>
<body>
	<div th:include="/part/customerNav::nav"></div>

	<div class="container">
		<form action="/modifyMembership" method="post">
			<table>
				<tr hidden="hidden">
					<td><input type="text" name="customerNo" th:value="${membership.customerNo}"></td>
				</tr>
				<tr>
					<td>ID : </td>
					<td><input type="text" name="customerId" th:value="${membership.customerId}"  readonly="readonly"></td>
				</tr>
				<tr>
					<td>NAME : </td>
					<td><input type="text" name="customerName" th:value="${membership.customerName}"></td>
				</tr>
				<tr>
					<td>BIRTH : </td>
					<td><input type="date" name="customerBirth" th:value="${membership.customerBirth}" readonly="readonly"></td>
				</tr>
				<tr>
					<td>E-MAIL : </td>
					<td><input type="text" name="customerEmail" th:value="${membership.customerEmail}"></td>
				</tr>
				<tr>
					<td>PHONE : </td>
					<td><input type="text" name="customerPhone" th:value="${membership.customerPhone}"></td>
				</tr>
			</table>
			<button type="submit">수정</button>
		</form>
	</div>

	<div th:include="/part/customerNav::copyright"></div>
</body>
</html>