<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>singupType</title>
<!-- <style>
	td {
		text-align: center;
	}
</style> -->
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/heroic-features.css" rel="stylesheet">

</head>
<body>
	<div th:include="/part/customerNav::nav"></div>

	<div class="container">
		<table class="table table-boardered">
			<tr>
				<th>아이디</th>
				<td><input type="text" class="form-control" th:value="${membership.customerId}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" class="form-control" th:value="${membership.customerName}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>생일</th>
				<td><input type="date" class="form-control" th:value="${membership.customerBirth}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>이메일</th>
				<td><input type="email" class="form-control" th:value="${membership.customerEmail}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>번호</th>
				<td><input type="text" class="form-control" th:value="${membership.customerPhone}" readonly="readonly"></td>
			</tr>

		</table>
		<a th:href="@{/modifyMembership}" class="btn btn-primary">수정</a> 
		<a th:href="@{/removeMembership(customerId=${membership.customerId})}" class="btn btn-danger">탈퇴</a>
	</div>

	<div th:include="/part/customerNav::copyright"></div>
</body>
</html>