<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>singupType</title>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/heroic-features.css" rel="stylesheet">
</head>
<style>
	#logo{
		text-align: center;
		height:170px;
	}
	
	.gradation{
        background: linear-gradient(to right bottom, #B96BC6, #FE5196);
    }
    
    input {
    	 border-radius: 5px;
    	 width: 250px;
    }
    
    .round{
    	border-radius: 2px;
    }
</style>
<body>
<div id="logo" >
	<img src="/loginimage/logo.jpg">
</div>
	<div th:include="/part/customerNav::afternav" class="gradation"></div>

	<div class="container">
		<br><h2>내 정보</h2><br>
		<table class="table table-boardered">
			<tr>
				<th>아이디</th>
				<td><input type="text" th:value="${membership.customerId}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" th:value="${membership.customerName}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>생일</th>
				<td><input type="date" th:value="${membership.customerBirth}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>이메일</th>
				<td><input type="email" th:value="${membership.customerEmail}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>번호</th>
				<td><input type="text" th:value="${membership.customerPhone}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>주소</th>
				<td>
					<div>
						<input type="text" id="postcode" name="postcode" th:value="${membership.postcode}" readonly="readonly"><br>
						<input type="text" id="address" name="address" th:value="${membership.roadAddress}" readonly="readonly">
						<input type="text" id="detailAddress" name="detailAddress" th:value="${membership.detailAddress}" readonly="readonly"> 
					</div>
				</td>														
			</tr>
		</table>
		<hr>
		<a th:href="@{/modifyMembership}" class="btn btn-primary">수정</a> 
		<a th:href="@{/removeMembership(customerId=${membership.customerId})}" class="btn btn-danger">탈퇴</a>	
		<hr>
	</div>

	<div th:include="/part/customerNav::copyright" class="gradation"></div>
</body>
</html>