<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>singupType</title>
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/heroic-features.css" rel="stylesheet">
</head>
<style>
	#logo{
		text-align: center;
		height:170px;
	}
	
	.gradation{
        background: linear-gradient(to right bottom, #B96BC6, #FE5196);
    }
</style>
<body>
<div id="logo" >
	<img src="/loginimage/logo.jpg">
</div>
	<div th:include="/part/customerNav::nav" class="gradation"></div>

	<div class="container">
		<table class="table table-boardered">
			<tr>
				<th>아이디</th>
				<td><input type="text" class="form-control" th:value="${membership.customerId}" readonly="readonly"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" class="form-control" th:value="${membership.customerName}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>생일</th>
				<td><input type="date" class="form-control" th:value="${membership.customerBirth}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>이메일</th>
				<td><input type="email" class="form-control" th:value="${membership.customerEmail}" readonly="readonly"></td>
			</tr>

			<tr>
				<th>번호</th>
				<td><input type="text" class="form-control" th:value="${membership.customerPhone}" readonly="readonly"></td>
			</tr>

		</table>
		<a th:href="@{/modifyMembership}" class="btn btn-primary">수정</a> 
		<a th:href="@{/removeMembership(customerId=${membership.customerId})}" class="btn btn-danger">탈퇴</a>	
		<hr>
		<h3>QnA 리스트</h3>
		<div class="row text-center">
			<div class="col-lg-3 col-md-6 mb-4"
				th:each="list:${franchiseeQnaList}">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title" th:text="${list.qnaNo}">qnaNo</h4>
						<h4 class="card-title" th:text="${list.customerNo}">customerNo</h4>
						<h4 class="card-title" th:text="${list.qnaType}">qnaType</h4>
						<h4 class="card-title" th:text="${list.qnaTitle}">qnaTitle</h4>
						<h4 class="card-title" th:text="${list.qnaQuestion}">qnaQuestion</h4>
						<h4 class="card-title" th:text="${list.qnaAnswer}">qnaAnswer</h4>
						<h4 class="card-title" th:text="${list.qnaDate}">qnaDate</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="/part/customerNav::copyright" class="gradation"></div>
</body>
</html>