<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>singupType</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>
<body>
	<div th:include="/part/templet::nav"></div>
	
	<div class="container">
		<form action="/signup" method="post">
			<table>
				<tr>
					<td>*ID : </td>
					<td><input type="text" name="customerId" id="customerId" required autofocus><button type="button" id="overlap">중복확인</button></td>
				</tr>
				<tr>
					<td>*PW : </td>
					<td><input type="password" name="customerPw" required></td>
				</tr>
				<tr>
					<td>*NAME : </td>
					<td><input type="text" name="customerName" required></td>
				</tr>
				<tr>
					<td>*BIRTH : </td>
					<td><input type="date" name="customerBirth" required></td>
				</tr>
				<tr>
					<td>GENDER : </td>
					<td>
						<input type="radio" value="M" name="customerGender">남
						<input type="radio" value="F" name="customerGender">여
					</td>
				</tr>
				<tr>
					<td>E-MAIL : </td>
					<td><input type="text" name="customerEmail"></td>
				</tr>
				<tr>
					<td>PHONE : </td>
					<td><input type="text" name="customerPhone"></td>
				</tr>
				<tr hidden="hidden">
					<td><input type="text" name="customerType" th:value="${customerType}"></td>
				</tr>
			</table>
			<button type="submit">회원가입</button>
		</form>
	</div>
	<div th:include="/part/templet::copyright"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$("#overlap").click(function(){
		$.ajax({
			url:"/overlap",
			method:"POST",
			data:{"customerId":$("#customerId").val()},
			success:function(json){
				console.log(json);
				if(json == 1){
					alert("아이디 중복이다 바꿔라")
				}
				else {
					alert("굳굳")
					$("#overlap").attr("disabled","disabled");
				}
			}
		})
	})
</script>
</html>