<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>singupType</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>
<style>
	#logo{
		text-align: center;
		height:170px;
	}
	
	.gradation{
        background: linear-gradient(to right bottom, #B96BC6, #FE5196);
    }
    
    input {
    	 border-radius: 5px;
    	 width: 250px;
    }
    
    #customerGender{
   	 width: 50px;
    }
    
    .round{
    	border-radius: 2px;
    }
</style>
<body>
<div id="logo" >
	<img src="/loginimage/logo.jpg">
</div>
	<div th:include="/part/customerNav::befornav" class="gradation"></div>
	
	<div class="container">
		<br>
		<h3>회원가입</h3>
		<table class="table table-boardered">
				<tr hidden="hidden">
				<td><input type="text" id="customerType" th:value="${customerType}"></td>
			</tr>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text"id="customerId" required autofocus>
					<button type="button" class="btn-sm btn-success" id="overlap">중복체크</button>
				</td>
			</tr>
			
			<tr>
				<th>비밀번호</th>
				<td><input type="password"id="customerPw" required></td>
			</tr>
			<tr>
				<th>이름</th>
				<td><input type="text" id="customerName" required></td>
			</tr>
				<tr>
				<th>생일</th>
				<td><input type="date" id="customerBirth" required></td>
			</tr>
			
			<tr>
				<th>성별</th>
				<td>
					<input type="radio" name="gender" value="M" id="customerGender">남
					<input type="radio" name="gender" value="F" id="customerGender">여
				</td>
			</tr>
				<tr>
				<th>이메일</th>
				<td><input type="email" id="customerEmail"></td>
			</tr>
				<tr>
				<th>번호</th>
				<td><input type="text" id="customerPhone"></td>
			</tr>
			<tr>
				<th>주소</th>
				<td>
					<div>
						<input type="text" id="postcode" name="postcode" placeholder="우편번호">
						<button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호</button><br>
						<input type="text" id="address" name="address" placeholder="주소"><br>
						<input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
						<input type="text" id="extraAddress" name="extraAddress" hidden="">
						<input type="text" id="roadAddress" name="roadAddress" hidden="" >
						<input type="text" id="jibunAddress" name="jibunAddress" hidden="" >
					</div>
				</td>														
			</tr>
		</table>
		<hr>
		<button type="button" class="btn btn-primary" id="join">회원가입</button>
	</div>
	<br>
	<div th:include="/part/customerNav::copyright" class="gradation"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	let overlapCount = 0;
	$("#overlap").click(function(){
		if ($("#customerId").val() == "") {
			alert("입력해라");
			return;
		}
		$.ajax({
			url:"/overlap",
			method:"POST",
			data:{"customerId":$("#customerId").val()},
			success:function(json){
				console.log(json);
				if(json == 1){
					alert("아이디 중복이다 바꿔라")
				}
				else {
					overlapCount += 1;
					alert("굳굳")
					//console.log("변화",overlapCount)
					$("#overlap").attr("disabled","disabled");
				}
			}
		})
	})
	

	$("#customerId").change(function(){
		if(overlapCount == 1){
			//console.log("변화1",overlapCount)
			overlapCount = 0;
			$("#overlap").removeAttr("disabled");
			//console.log("변화2",overlapCount)
			return;
		}
	})
	
	$("#join").click(function(){
		if (overlapCount == 0) {
			alert("중복확인 하셈",overlapCount);
			return;
		}
		$.ajax({
			url:"/signup",
			method:"POST",
			data:{"customerId":$("#customerId").val(), 
				  "customerPw":$("#customerPw").val(),
				  "customerName":$("#customerName").val(), 
				  "customerBirth":$("#customerBirth").val(), 
				  "customerGender":$("#customerGender").val(),
				  "customerEmail":$("#customerEmail").val(),
				  "customerPhone":$("#customerPhone").val(),
				  "customerType":$("#customerType").val(),
				  "postcode":$("#postcode").val(),
				  "detailAddress":$("#detailAddress").val(),
				  "extraAddress":$("#extraAddress").val(),
				  "roadAddress":$("#roadAddress").val(),
				  "jibunAddress":$("#jibunAddress").val()},
			success:function(){
				//console.log("가입")
				location.href="/login"
			}
		})
	})
</script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
                //console.log(data);
                console.log(data.jibunAddress);
                console.log(data.roadAddress);
                $("#roadAddress").val(data.roadAddress)
                $("#jibunAddress").val(data.jibunAddress)
            }
        }).open();
    }
    
</script>	
</html>