<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.picaboo.nor.customer.mapper.CustomerMapper">
	<select id="selectSeat" resultType="com.picaboo.nor.customer.vo.Seat"
							parameterType="String">
		SELECT franchisee_no as franchiseeNo,
			   seat_no as seatNo,
			   seat_row as seatRow,
			   seat_cols as seatCols,
			   seat_use as seatUse
		FROM seat 
		WHERE franchisee_no = #{String}
	
	</select>

</mapper>