<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.picaboo.nor.customer.mapper.CustomerMapper">
	
	<!-- 좌석 출력 -->
	<select id="selectSeat" resultType="com.picaboo.nor.franchisee.vo.Seat" parameterType="String">
		<![CDATA[
			SELECT franchisee_no as franchiseeNo,
				   seat_no as seatNo,
				   seat_row as seatRow,
				   seat_cols as seatCols,
				   seat_use as seatUse
			FROM seat 
			WHERE franchisee_no = #{String}
		]]>
	</select>
	<!-- 모든 프렌차이즈 정보를 가져옴 -->
	<select id="selectFranchiseeNo" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
		<![CDATA[
			SELECT 
					franchisee_no as franchiseeNo,
					franchisee_name as franchiseeName
			FROM franchisee
		]]>
	</select>
	<!-- 프렌차이즈 상세정보를 가져옴 -->
	<select id="selectFranchisee" parameterType="String" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
		<![CDATA[
			SELECT 
					franchisee_no as franchiseeNo,
					franchisee_name as franchiseeName
			FROM franchisee
			WHERE franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<!-- 좌석 예약 -->
	<insert id="insertReservation" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			INSERT INTO seat_reservation (
				franchisee_no,
				seat_no,
				customer_name,
				customer_no,
				reservation_date,
				reservation_time
			) VALUES (
				#{franchiseeNo},
				#{seatNo},
				#{customerName},
				#{customerNo},
				#{reservationDate},
				#{reservationTime}
			)
		]]>
	</insert>
	
	<update id="updateSeatType" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			UPDATE seat 
			SET seat_use = #{type}
			WHERE franchisee_no = #{franchiseeNo} AND seat_no = #{seatNo}
		]]>
	</update>
	
	<select id="selectSeatReservation" parameterType="String"
									   resultType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			SELECT franchisee_no as franchiseeNo,
				   seat_no as seatNo
			FROM seat_reservation
			WHERE reservation_date <= CURDATE() AND reservation_time < date_add(CURTIME(),INTERVAL 10 minute) AND franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<delete id="deleteSeatReservation" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			DELETE FROM seat_reservation
			WHERE franchisee_no = #{franchiseeNo} AND seat_no = #{seatNo}
		]]>
	</delete>
	
	<select id="selectFranchiseeThumbnail" resultType="com.picaboo.nor.franchisee.vo.FranchiseePic">
		<![CDATA[
			SELECT
				MIN(pic_no) as picNo,
				franchisee_no as franchiseeNo,
				file_name as fileName,
				extension as extension,
				content_type as contentType,
				size as size,
				origin_name as originName
			FROM franchisee_pic
			GROUP BY franchisee_no
		]]>
	</select>
	
	<select id="selectFranchiseeThumbnailList" parameterType="String" resultType="com.picaboo.nor.franchisee.vo.FranchiseePic">
		<![CDATA[
			SELECT
				pic_no as picNo,
				franchisee_no as franchiseeNo,
				file_name as fileName,
				extension as extension,
				content_type as contentType,
				size as size,
				origin_name as originName
			FROM franchisee_pic
			WHERE franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<select id="selectFoodList" parameterType="String" resultType="com.picaboo.nor.franchisee.vo.Food">
		<![CDATA[
			SELECT
				food_no as foodNo,
				food_name as foodName,
				food_category as foodCategory,
				food_price as foodPrice
			FROM food
			WHERE franchisee_no = #{String}
		]]>
	</select>
</mapper>