<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.picaboo.nor.customer.mapper.CustomerMapper">
	<resultMap type="com.picaboo.nor.franchisee.vo.Franchisee" id="franchiseeResultMap">
		<id column="franchisee_no" property="franchiseeNo"/>
		<result column="franchisee_name" property="franchiseeName"/>
		<result column="franchisee_phone" property="franchiseePhone"/>
		<result column="owner_no" property="ownerNo"/>
		<association property="address" javaType="com.picaboo.nor.membership.vo.Address">
			<id column="address_no" property="addressNo"/>
			<result column="road_address" property="roadAddress"/>
			<result column="jibun_address" property="jibunAddress"/>
			<result column="detail_address" property="detailAddress"/>
		</association>
	</resultMap>

	<!-- 가맹점 주소정보 조회 -->
	<select id="selectFranchiseeAddressList" resultMap="franchiseeResultMap">
	<![CDATA[
		SELECT
			f.franchisee_no,
			f.franchisee_name,
			f.franchisee_phone,
			f.owner_no,
			a.address_no,
			a.road_address,
			a.jibun_address,
			a.detail_address
		FROM franchisee f
		INNER JOIN address a
		ON f.address_no = a.address_no
	]]>
	</select>
	
	<!-- 회원 주소 정보 조회를 위한 매핑 -->
	<resultMap type="com.picaboo.nor.customer.vo.Customer" id="customerResultMap" >
		<id column="customer_no" property="customerNo"/>
		<result column="customer_id" property="customerId"/>
		<result column="customer_name" property="customerName"/>
		<result column="customer_type" property="customerType"/>
		<association property="address" javaType="com.picaboo.nor.membership.vo.Address">
			<id column="address_no" property="addressNo"/>
			<result column="road_address" property="roadAddress"/>
			<result column="jibun_address" property="jibunAddress"/>
			<result column="detail_address" property="detailAddress"/>
		</association>
	</resultMap>
	
	<!-- 고객 주소정보 조회 -->
	<select id="selectCustomerAddress" parameterType="string" resultMap="customerResultMap">
	<![CDATA[
		SELECT
			 customer_id,
			 customer_name,
			 customer_type,
			 a.address_no,
			 road_address,
			 jibun_address,
			 detail_address
		FROM customer c
		INNER JOIN address a
		ON c.address_no = a.address_no
		WHERE c.customer_no = #{customerNo}
	]]>
	</select>
	
	<!-- 좌석 출력 -->
	<select id="selectSeat" resultType="com.picaboo.nor.franchisee.vo.Seat" parameterType="String">
		<![CDATA[
			SELECT franchisee_no as franchiseeNo,
				   seat_no as seatNo,
				   seat_row as seatRow,
				   seat_cols as seatCols,
				   seat_use as seatUse
			FROM seat 
			WHERE franchisee_no = #{String}
		]]>
	</select>
	<!-- 모든 프렌차이즈 정보를 가져옴 -->
	<select id="selectFranchiseeNo" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
		<![CDATA[
			SELECT 
					franchisee_no as franchiseeNo,
					franchisee_name as franchiseeName
			FROM franchisee
		]]>
	</select>
	<!-- 프렌차이즈 상세정보를 가져옴 -->
	<select id="selectFranchisee" parameterType="String" resultType="com.picaboo.nor.franchisee.vo.Franchisee">
		<![CDATA[
			SELECT 
					franchisee_no as franchiseeNo,
					franchisee_name as franchiseeName
			FROM franchisee
			WHERE franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<!-- 좌석 예약 -->
	<insert id="insertSeatReservation" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			INSERT INTO seat_reservation (
				franchisee_no,
				seat_no,
				customer_name,
				customer_no,
				reservation_date
			) VALUES (
				#{franchiseeNo},
				#{seatNo},
				#{customerName},
				#{customerNo},
				#{reservationDate}
			)
		]]>
	</insert>
	
	<!-- 예약한 좌석 타입 변경 -->
	<update id="updateSeatType" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			UPDATE seat 
			SET seat_use = #{type}
			WHERE franchisee_no = #{franchiseeNo} AND seat_no = #{seatNo}
		]]>
	</update>
	
	<!-- 예약된 좌석중 시간이 10분 지난 리스트 -->
	<select id="selectSeatReservation" parameterType="String" resultType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			SELECT
				franchisee_no as franchiseeNo,
				seat_no as seatNo,
				customer_no as customerNo,
				customer_name as customerName,
				reservation_date as reservationDate
			FROM seat_reservation
			WHERE reservation_date <= date_add(NOW(),INTERVAL 10 minute) AND franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<!-- 예약기간이 지난 예약 을 cancel테이블로 이동 -->
	<insert id="insertCancelSeatReaservation" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			INSERT INTO cancel_seat_reservation (
				franchisee_no,
				seat_no,
				customer_name,
				customer_no,
				reservation_date
			) VALUES (
				#{franchiseeNo},
				#{seatNo},
				#{customerName},
				#{customerNo},
				#{reservationDate}
			)
		]]>
	</insert>
	
	<!-- 예약기간이 지난 예약 삭제 -->
	<delete id="deleteSeatReservation" parameterType="com.picaboo.nor.customer.vo.SeatReservation">
		<![CDATA[
			DELETE FROM seat_reservation
			WHERE franchisee_no = #{franchiseeNo} AND seat_no = #{seatNo}
		]]>
	</delete>
	
	<!-- 프렌차이즈의 대표 이미지 가져옴 -->
	<select id="selectFranchiseeThumbnail" resultType="com.picaboo.nor.franchisee.vo.FranchiseePic">
		<![CDATA[
			SELECT
				MIN(pic_no) as picNo,
				franchisee_no as franchiseeNo,
				file_name as fileName,
				extension as extension,
				content_type as contentType,
				size as size,
				origin_name as originName
			FROM franchisee_pic
			GROUP BY franchisee_no
		]]>
	</select>
	
	<!-- 선택된 프렌차이즈의 이미지를 가져옴 -->
	<select id="selectFranchiseeThumbnailList" parameterType="String" resultType="com.picaboo.nor.franchisee.vo.FranchiseePic">
		<![CDATA[
			SELECT
				pic_no as picNo,
				franchisee_no as franchiseeNo,
				file_name as fileName,
				extension as extension,
				content_type as contentType,
				size as size,
				origin_name as originName
			FROM franchisee_pic
			WHERE franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<!-- 선택된 프렌차이즈에 등록된 상품목록을 가져옴 -->
	<select id="selectFoodList" parameterType="String" resultType="com.picaboo.nor.customer.vo.FoodInfo">
		<![CDATA[
			SELECT 
				f.food_no as foodNo, 
				f.franchisee_no as fanchiseeNo, 
				f.food_name as foodName, 
				f.food_category as foodCategory, 
				f.food_price as foodPrice, 
				fp.file_name as fileName, 
				fp.extension as extension, 
				fp.content_type as contentType,
				fp.size as size, 
				fp.origin_name as originName
			FROM food as f LEFT JOIN food_pic as fp
			ON fp.food_no = f.food_no
			WHERE f.franchisee_no = #{franchiseeNo}
		]]>
	</select>
	
	<!-- 프렌차이즈의 스펙을 가져옴 -->
	<select id="selectSpecList" resultType="com.picaboo.nor.franchisee.vo.FranchiseeSpec">
		<![CDATA[
			SELECT
				franchisee_no as franchiseeNo,
				cpu as cpu,
				vga as vga,
				ram as ram
			FROM franchisee_spec
		]]>
	</select>
	
	<!-- 예약한 상품을 데이터베이스에 저장 -->
	<insert id="insertFoodReservation" parameterType="com.picaboo.nor.customer.vo.FoodReservation">
		<![CDATA[
			INSERT INTO food_reservation (
				food_no,
				reservation_count,
				reservation_date,
				customer_no,
				customer_name
			) VALUES (
				#{foodNo},
				#{reservationCount},
				#{reservationDate},
				#{customerNo},
				#{customerName}
			)
		]]>
	</insert>
	
	<!-- 예약된 상품중 기간이 10분 지난 리스트를 가져옴 -->
	<select id="selectFoodReservation" parameterType="String" resultType="com.picaboo.nor.customer.vo.FoodReservation">
		<![CDATA[
			SELECT 
				fr.food_reservation_no as reservationNo,
				fr.food_no as foodNo, 
				fr.reservation_count as reservationCount, 
				fr.reservation_date as reservationDate, 
				fr.customer_no as customerNo, 
				fr.customer_name as customerName
			FROM food_reservation as fr INNER JOIN food as f
			ON fr.food_no = f.food_no
			WHERE franchisee_no = #{franchiseeNo} AND fr.reservation_date <= date_add(NOW(),INTERVAL 10 minute)
		]]>
	</select>
	
	<!-- 예약된 상품중 기간이 10분지난 목록을 cancel테이블로 이동 -->
	<insert id="insertCancelFoodReservation" parameterType="com.picaboo.nor.customer.vo.FoodReservation">
		<![CDATA[
			INSERT INTO cancel_food_reservation (
				food_reservation_no,
				food_no,
				reservation_count,
				reservation_date,
				customer_no,
				customer_name
			) VALUES (
				#{reservationNo},
				#{foodNo},
				#{reservationCount},
				#{reservationDate},
				#{customerNo},
				#{customerName}
			)
		]]>
	</insert>
	
	<!-- 예약된 상품중 기간이 10분지난 목록을 예약 테이블에서 삭제 -->
	<delete id="deleteFoodReservation" parameterType="int">
		<![CDATA[
			DELETE FROM food_reservation
			WHERE food_reservation_no = #{reservationNo}
		]]>
	</delete>
	
	<!-- 로그인한 고객의 좌석 예약 기록의 카운트값을 가져옴 -->
	<select id="selectMySeatReservationList" parameterType="String" resultType="com.picaboo.nor.customer.vo.MySeatReservationPer">
		<![CDATA[
			SELECT 
				a.franchisee_no as franchiseeNo,
				f.franchisee_name as franchiseeName,
				count(*) as count
			FROM (
				SELECT franchisee_no, customer_no
				FROM seat_reservation
				UNION ALL
				SELECT franchisee_no, customer_no
				FROM cancel_seat_reservation
				) as a LEFT JOIN franchisee as f
			ON a.franchisee_no = f.franchisee_no
			WHERE a.customer_no = #{customerNo}
			GROUP BY a.franchisee_no
		]]>
	</select>
	
	<!-- 로그인한 고객의  상품 예약 기록의 카운트값을 가져옴-->
	<select id="selectMyFoodReservationList" parameterType="com.picaboo.nor.franchisee.vo.Franchisee" resultType="com.picaboo.nor.customer.vo.MyFoodReservationPer">
		<![CDATA[
			SELECT 
				a.food_no as foodNo, 
				f.food_name as foodName, 
				sum(a.reservation_count) as sum
			FROM (
				SELECT food_no, customer_no, reservation_count
				FROM food_reservation
				UNION ALL
				SELECT food_no, customer_no, reservation_count
				FROM cancel_food_reservation
				) as a left join food as f
			ON a.food_no = f.food_no
			WHERE a.customer_no = #{ownerNo} AND f.franchisee_no = #{franchiseeNo}
			GROUP BY a.food_no
		]]>
	</select>
	<!-- 로그인한 고객의 총 상품 주문 금액 가져옴 -->
	<select id="selectCustomerTotalPrice" parameterType="String" resultType="com.picaboo.nor.customer.vo.TotalPrice">
		<![CDATA[
			SELECT
				a.food_no as foodNo, 
				sum(a.reservation_count) as sum, 
				a.customer_no as customerNo, 
				a.customer_name as customerName, 
				f.food_price as foodPrice, 
				(sum(a.reservation_count)*f.food_price) as totalPrice
			FROM (
				SELECT food_no, reservation_count, customer_no, customer_name
				FROM food_reservation
				UNION ALL
				SELECT food_no, reservation_count, customer_no, customer_name
				FROM cancel_food_reservation
			) as a INNER JOIN food as f
			ON a.food_no = f.food_no
			WHERE a.customer_no = #{customerNo}
			GROUP BY a.food_no
		]]>
	</select>
	
	<!-- 로그인한 고객의 답변이 달리지 않은 qna리스트를 가져옴 -->
	<select id="selectCustomerQnAList" parameterType="String" resultType="com.picaboo.nor.customer.vo.CustomerQnA">
		<![CDATA[
			SELECT
				qna_no as qnaNo,
				qna_type as qnaType,
				qna_title as qnaTitle,
				qna_answer as qnaAnswer,
				DATE_FORMAT(qna_date, '%Y-%m-%d') as qnaDate
			FROM customer_qna
			WHERE customer_no = #{customerNo}
		]]>
	</select>
	
	<!-- 로그인한 고객작성한 qna 등록 -->
	<insert id="insertCustomerQnA" parameterType="com.picaboo.nor.customer.vo.CustomerQnA">
	<![CDATA[
			INSERT INTO customer_qna(
				customer_no,
				qna_type,
				qna_title,
				qna_question,
				qna_answer,
				qna_date,
				customer_mail
			) VALUES (
				#{customerNo},
				#{qnaType},
				#{qnaTitle},
				#{qnaQuestion},
				#{qnaAnswer},
				NOW(),
				#{customerMail}
			)
		]]>
	</insert>
	
	<!-- 1개의 qna내용을 가져옴 -->
	<select id="selectCustomerQnAOne" parameterType="int" resultType="com.picaboo.nor.customer.vo.CustomerQnA">
		<![CDATA[
			SELECT
				qna_type as qnaType,
				qna_title as qnaTitle,
				qna_question as qnaQuestion,
				qna_answer as qnaAnswer,
				DATE_FORMAT(qna_date, '%Y-%m-%d') as qnaDate
			FROM customer_qna
			WHERE qna_no = #{qnaNo}
		]]>
	</select>
</mapper>