<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/heroic-features.css" rel="stylesheet">
</head>
<title>CUSTOMER</title>
<style>
.box {
	height: 50px;
	width: 50px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
}

.center {
	width:100%;
	text-align: center;
}

#seat {
	margin-left: auto;
	margin-right: auto;
}

#seat div {
	background-color: #EAEAEA;
}

#modal {
	top:90px;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	right: 1px;
	left: 1px;
}

#modal button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#modal .modal_content {
	height:430px;
	width: 340px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border-radius: 10px;
	border: 2px solid #666;
}

#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.List {
	margin-left: 5px;
	margin-right: 30px;
	width:100%;
	height:150px;
	
}

.close{
	font-size: 15px;
}

ul{
   list-style:none;
}

.menu {
	float:right;
	height:150px;
	width:65%;
	text-align: center;
	overflow:auto;
}

.seat {
	float:left;
	height:150px;
	width:35%;
	text-align: center;
	overflow:auto;
}

</style>
</head>
<body>
	<div th:include="/part/customerNav::nav"></div>
	<div class="container center">
		<h1>CustomerSeat</h1>
		<div style="height:50px" th:text="${franchisee.franchiseeName}"></div>
		<div style="height:150px">
			스펙 및 이미지<br>
			<img class='card-img-top pic' src='http://placehold.it/500x325' style="width:100px;height:100px;">
			<img class='card-img-top pic' src='http://placehold.it/500x325' style="width:100px;height:100px;">
			<img class='card-img-top pic' src='http://placehold.it/500x325' style="width:100px;height:100px;">
			<img class='card-img-top pic' src='http://placehold.it/500x325' style="width:100px;height:100px;">
		</div>
		<div id="modal">
			<div class="modal_content ">
				<a href="" class="close">❌</a><br>
				<h2>예약</h2>
				<input type='date' id='date'><br> 
				<input type="time" id='time'><br>
				<hr>
				<div class="List">
					<div class="seat">
						<table class="center">
							<thead>
								<tr>
									<td> 좌석 </td>
								</tr>
							<thead>
							<tbody>
								<tr>
									<td id="RList">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="menu">
						<table class="center">
							<tr>
								<td><input type="checkbox" name="checkbox" value="1" style="border: 0"></td>
								<td><input type="number" min="0" name="num" value="0" class="num" style="width:60px;"></td>
								<td>
									<img src="/loginimage/짜파게티.jpg" width="60" height="50" class="bt_up" />
								</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="checkbox" value="1" style="border: 0"></td>
								<td><input type="number" min="0" name="num" value="0" class="num" style="width:60px;"></td>
								<td>
									<img src="/loginimage/너구리.jpg" width="60" height="50" class="bt_up" />
								</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="checkbox" value="1" style="border: 0"></td>
								<td><input type="number" min="0" name="num" value="0" class="num" style="width:60px;"></td>
								<td>
									<img src="/loginimage/신라면.jpg" width="60" height="50" class="bt_up" />
								</td>
							</tr>
							<tr>
								<td><input type="checkbox" name="checkbox" value="1" style="border: 0"></td>
								<td><input type="number" min="0" name="num" value="0" class="num" style="width:60px;"></td>
								<td>
									<img src="/loginimage/참깨라면.jpg" width="60" height="50" class="bt_up" />
								</td>
							</tr>
						</table>
					</div>
				</div>
				<hr>
				<button type="button" id="modal_close_btn" class="btn btn-primary">예약 완료</button>
			</div>
			<div class="modal_layer"></div>
		</div>
		좌석표<br>
		<table id="seat"></table>
		<button type="button" id="modal_opne_btn" class="btn btn-primary">예약확인</button>
	</div>
	<div th:include="/part/customerNav::copyright"></div>
</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
let seat = /*[[${seat}]]*/
let franchiseeNo = /*[[${franchisee.franchiseeNo}]]*/
//console.log(seat);
let html = "";
let rowMax = 0;
let colsMax = 0;
let reservationCount = 0

$(seat).each(function(index,item){
//seat값을 검사하여 row값의 최대값을 rowMax에 저장
	if(item.seatRow > rowMax){
		rowMax = item.seatRow;
	}
	//seat값을 검사하여 cols값의 최대값을 colsMax에 저장
	if(item.seatCols > colsMax){
		colsMax = item.seatCols
	}
})
//console.log(rowMax)
//console.log(colsMax)

//좌석 표시중 마지막줄에 1줄 더하여 출력(pc방 길)
for(let row=1; row<=rowMax+1; row++){
	html += "<tr id='"+row+"'>"
	 
	for(let cols=1; cols<=colsMax; cols++){
		html += "<td id='"+cols+"'>"
		html += "<div class='box'></div>";
		html += "</td>";
	}
	 
	html += "</tr>"
}
$("#seat").html(html);

$(document).ready(function(){
	document.getElementById('date').value = new Date().toISOString().substring(0, 10);;
	
	$("#seat tr td").each(function(index1,item1){
		//console.log($(this).closest('tr').attr('id'))
		let $this = $(this)
		let trId = $this.closest('tr').attr('id')
		let tdId = $this.closest('td').attr('id')
		/* console.log("tr",trId)
		console.log("td",tdId) */
		$(seat).each(function(index2,item2){
			if(trId == item2.seatRow && tdId == item2.seatCols) {
				/* console.log(item2.seatNo) */
				$this.children().append("pc"+item2.seatNo)
				//console.log(item2)
				let use = item2.seatUse
				switch(use){
					case "Y":
						$this.children().css("background-color","#B5B2FF");
						$this.children().append("<br>사용중");
						$this.children().attr("id","Y");
						break;
					case "N":
						$this.children().css("background-color","#A0BAED");
						$this.children().attr("id","N");
						break;
					case "R":
						$this.children().css("background-color","#A566FF");
						$this.children().append("<br>예약석");
						$this.children().attr("id","R");
						break;
				}
			}
			
		})
	})
	let seatNoList = [];
	$("#seat div").each(function(index,item){
		
		$(this).click(function(){
			let divId = $(this).closest('div').attr("id")
			let divtag = $(this).closest('div').text()
			let seatNo = "";
			seatNo = divtag.substring(2)
			seatNo = seatNo.split('빈자리')
			//console.log(divId[0])
			if(divId == "N"){
				//console.log(seatNo[0]);
				//console.log(divId);
				$(this).attr("id","TR")
				$(this).css("background-color", "#A566FF")
				//console.log(seatNo[0])
				seatNoList.push(seatNo[0])
				//console.log(text)
				
			}
			if(divId == "TR"){
				
				//console.log(seatNo[0]);
				//console.log(divId);
				$(this).attr("id","N")
				$(this).css("background-color", "#A0BAED")
				seatNoList.pop(seatNo[0]);
				//console.log(text)
			}
		})
	})
	
	$("#modal_opne_btn").click(function(){
			$("#seat div").each(function(index,item){
			//console.log(item.id)
			if(item.id == "TR"){
				reservationCount += 1;
			}
		})
		
		if(reservationCount > 0){
			//console.log(reservationCount)
			reservationCount = 0;
		}
		else {
			alert("좌석을 선택해 주세요")
			return;
		}
		
		$("#RList").empty()
		//console.log(seatNoList); 
		seatNoList.sort(function (a, b) { return a-b; })
		//console.log(seatNoList)
		$(seatNoList).each(function(index,item){
			$("#RList").append("<div id='"+item+"'>" + item + "번 좌석</div>")
		})
		
		$("#LList").empty()
		//console.log(seatNoList); 
		seatNoList.sort(function (a, b) { return a-b; })
		//console.log(seatNoList)
		$(seatNoList).each(function(index,item){
			$("#LList").append("<div id='"+item+"'>" + item + "번 좌석</div>")
		})
		
		$("#modal").fadeToggle( 'linear' )
	});
					   
	$("#modal_close_btn").click(function(){
		//console.log("예약하기")
		
		if($("#time").val() == ""){
			alert("시간입력")
			return;
		}
		
		//console.log(seatNoList)
		$(seatNoList).each(function(index,item){
			$.ajax({
				url:"/seatReservation",
				method:"POST",
				data:{"seatNo":item, 
					  "date":$("#date").val(), 
					  "time":$("#time").val(), 
					  "franchiseeNo":franchiseeNo},
				success:function(){
					location.reload()
					//console.log("예약성공")
				}
			})
		})
		$("#modal").attr("style", "display:none");
	});
})
</script>
</html>