/* 썸네일 */
.thumbnail {
	background-color: gray;
	margin: 10px;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.thumbnail.round {
	border-radius: 10%;
}

/*슬라이드 css  */
.mySlides {
	display: none;
}
.mySlides img{
	height: 450px;
	width: 70%;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 25%;
	height: 500px;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: -11px;
	border-radius: 0 10px 10px 0;
}

.prev {
	left: -11px;
	border-radius: 10px 0 0 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */


.active{
	background-color: #717171;
}

@
-webkit-keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}
@
keyframes fade {
	from {opacity: .4
}

to {
	opacity: 1
}

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

/* 슬라이드 modal*/
#picmodal {
	top: 90px;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	right: 1px;
	left: 1px;
}

#picmodal button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#picmodal .picmodal_content {
	height: 550px;
	width: 800px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border-radius: 10px;
	border: 2px solid #666;
}

#picmodal .picmodal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}