<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>customer index</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/heroic-features.css" rel="stylesheet">
</head>
<style>
	#logo{
		text-align: center;
		height:170px;
	}
	
	.gradation{
        background: linear-gradient(to right bottom, #B96BC6, #FE5196);
    }
</style>
<body>
<div id="logo" >
	<img src="/loginimage/logo.jpg">
</div>
	<!-- Navigation(상단메뉴) -->
	<div th:include="/part/customerNav::nav" class="gradation"></div>
	<!-- Page Content -->
	<div class="container">
		<br>
		<!-- Jumbotron Header(이벤트 배너) -->
		<div class="slideshow-container">
			<div class="mySlides">
				
				<img src="/loginimage/google.png" style="width:100%" >
			</div>

			<div class="mySlides">
				
				<img src="/loginimage/naver.png" style="width: 100%">
			</div>
			
			<div class="mySlides">
				
				<img src="/loginimage/kakao.png" style="width: 100%">
			</div>
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a> 
			<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
		<br>
		<div style="text-align: center">
			<span class="dot" onclick="currentSlide(1)"></span> 
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
		</div>			
		<!-- Page Features(메인 베너) -->
		<div class="row text-center" id="main">
			
		</div>
	</div>
	<!-- /.row -->
	<!-- /.container -->
	<!-- Footer -->
	<div th:include="/part/customerNav::copyright" class="gradation"></div>
	<!-- Bootstrap core JavaScript -->
</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
/*이벤트 배너 스크립트 */
let slideIndex = 1;
showSlides(slideIndex);


	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		let i;
		let slides = $(".mySlides");
		let dots = $(".dot");
		if (n > slides.length) {
			slideIndex = 1
		}
		if (n < 1) {
			slideIndex = slides.length
		}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}

		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex - 1].style.display = "block";
		dots[slideIndex - 1].className += " active";

	}
</script>
<script>
//좌석 스크립트
	$.ajax({
		url:"/getFranchiseeList",
		method:"POST",
		success:function(json){
			console.log("success");
			console.log(json);
			let html = "";
			let fList = json.franchiseeList;
			console.log(fList)
			let fpList = json.franchiseePicList
			console.log(fpList)
			$(fList).each(function(index, item){
				html += "<div class='col-lg-3 col-md-6 mb-4'>";
				html += "<div class='card h-100'>";
				html += "<img class='card-img-top' id='img";
				html += index
				html += "' width='500' height='180'>";
				html += "<div class='card-body'>";
				html += "<h4 class='card-title'>";
				html += item.franchiseeName;
				html += "</h4>";
				html += "<p class='card-text'>";
				html += "PC방 사양";
				html += "</p>";
				html += "</div>";
				html += "<div class='card-footer'>";
				html += "<a href='/selectCustomerSeat?franchiseeNo="
				html += item.franchiseeNo;
				html += "' class='btn btn-primary'>";
				html += "상세";
				html += "</a>";
				html += "</div>";
				html += "</div>";
				html += "</div>";
			})
			$("#main").append(html);
			$(fpList).each(function(index,item){
				console.log(item);
				$("#img"+index).attr("src","/upload/"+item.fileName)
				$("#img"+index).attr("alt",item.originName)
			})
			console.log(html)
		}
	})
</script>
</html>
