<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Franchisee Index</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
  <div th:fragment="nav">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/franchiseeIndex">PI-CA-BOO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        
          <!-- 멤버 이름 표시 -->
      	  <li class="nav-item">
            <span class="nav-link disabled text-light" th:inline="text">[[${session.memberName}]]님 환영합니다!</span>
          </li>
          <!-- 로그아웃 -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/mypageFranchisee">MyPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
   </nav>
  </div>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header(이벤트 배너) -->
    <div th:fragment="event">
    	<!-- 가맹점 목록 -->
	    <header class="jumbotron my-4">
	    <button id="admin" onclick="window.open('adminIndex','window_name','width=430,height=500,location=no,status=no,scrollbars=yes');">어드민페이지 임시</button>
	    <h3>가맹점 리스트</h3>
	    <div class="row text-center">
	      <div class="col-lg-3 col-md-6 mb-4" th:each="list:${franchiseeList}">
	        <div class="card h-100">
	          <img class="card-img-top" th:each="thumbnail : ${thumbnailInfo.thumbnailList}" th:if="${thumbnail.franchiseeNo} == ${list.franchiseeNo}" th:src="${thumbnailInfo.uploadPath} + ${thumbnail.fileName}" alt="">
	          <div class="card-body">
	            <h4 class="card-title" th:text="${list.franchiseeName}">FranchiseeName</h4>
	          </div>
	          <div class="card-footer">
	            <a href="#" class="btn btn-primary" th:href="@{/detailFranchisee?(franchiseeNo=${list.franchiseeNo})}" th:text="info">info</a>
	          </div>
	        </div>
	      </div>
	    </div>
	     
	    </header>
	</div>
	
    <!-- Page Features(메인 베너) -->
    <h3>관리 메뉴</h3>
    <div th:fragment="main">
	    <div class="row text-center">
	      <div class="col-lg-3 col-md-6 mb-4">
	        <div class="card h-100">
	          <img class="card-img-top" src="/franchiseeImage/indexPic4.jpg" alt="">
	          <div class="card-body">
	            <h4 class="card-title">addFranchisee</h4>
	            <p class="card-text">addFranchisee</p>
	          </div>
	          <div class="card-footer">
	            <a href="/addFranchisee" class="btn btn-primary">addFranchisee</a>
	          </div>
	        </div>
	      </div>
	      
		  <!-- FAQ 버튼 -->
	      <div class="col-lg-3 col-md-6 mb-4">
	        <div class="card h-100">
	          <img class="card-img-top" src="/franchiseeImage/indexPic2.png" alt="">
	          <div class="card-body">
	            <h4 class="card-title">FAQFranchisee</h4>
	            <p class="card-text">FAQFranchisee</p>
	          </div>
	          <div class="card-footer">
	            <a href="/FAQFranchisee" class="btn btn-primary">FAQFranchisee</a>
	          </div>
	        </div>
	      </div>
	
	      <div class="col-lg-3 col-md-6 mb-4">
	        <div class="card h-100">
	          <img class="card-img-top" src="/franchiseeImage/indexPic3.png" alt="">
	          <div class="card-body">
	            <h4 class="card-title">통계</h4>
	            <p class="card-text">StatisticsFranchisee</p>
	          </div>
	          <div class="card-footer">
	            <a href="/foodStatement" class="btn btn-primary">StatisticsFranchisee</a>
	          </div>
	        </div>
	      </div>
	
	      <div class="col-lg-3 col-md-6 mb-4">
           <div class="card h-100">
             <img class="card-img-top" src="/franchiseeImage/indexPic3.png" alt="">
             <div class="card-body">
               <h4 class="card-title">QnAFranchisee</h4>
               <p class="card-text">QnAFranchisee</p>
             </div>
             <div class="card-footer">
               <a href="/QnAFranchisee" class="btn btn-primary">QnAFranchisee</a>
             </div>
           </div>
         </div>
	      
	    </div>
	 </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:fragment="copyright">
	  <footer class="py-5 bg-dark">
	    <div class="container">
	      <p class="m-0 text-center text-white">Copyright &copy; PICABOO 2019</p>
	    </div>
	    <!-- /.container -->
	  </footer>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
