<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
let drag = function(pc) {
   let click = "";
   let reclick   = "";
   let count = 0;
   $(".type").click(function(){
      reclick = click;
      click = $(this).attr("value")
      console.log(click) 
   })
   var isMouseDown = false;
   // 처음 마우스클릭
   
   //클릭시 확인용도로 행,열,id값
   $("#seat td").mousedown(function() {
      isMouseDown = true;
      
      $("#save").click(function() {
          //배열 선언
          
          $("#seat tr td").each(function(index,item){
        	  var trid = $(this).closest('tr').attr('id');
         	  var tdid = $(this).closest('td').attr('id');
         	  console.log(item);
          })
          
          /* console.log(seatMap); */
          //ajax 호출
          /* $.ajax({
              url         :   "/franchiseeSeat",
              method	  :	  "POST",
              dataType    :   "json",
              contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
              type        :   "post",
              data        :   {"seatMap":seatMap}
          }); */
          
      })
      // pc버튼 눌렀을 때, 드래그한 td가 pc가 아닐 경우 번호 추가 
      if(click == "pc" && $(this).hasClass("pc") == false){
         count = pc.pop();
         
         var trid = $(this).closest('tr').attr('id');
         var tdid = $(this).closest('td').attr('id'); 
         
         $(this).html(count);
         
         // 처리 후 클래스 변경
         $(this).addClass(click);
      // hallway버튼 눌렀을 때, 드래그한 td가 pc일 경우 번호 삭제
      } else if(click == "" && $(this).hasClass("pc") == true){
         count = $(this).text();
         $(this).html(click);
         pc.push(count);
         // 처리 후 클래스 변경
         $(this).removeClass("pc");
      }
      return false; // prevent text selection
   // 마우스 클릭이후 드래그
   }).mouseover(function() {
      if (isMouseDown) {
         // pc버튼 눌렀을 때, 드래그한 td가 pc가 아닐 경우 번호 추가 
         if(click == "pc" && $(this).hasClass("pc") == false){
            count = pc.pop();
            var trid = $(this).closest('tr').attr('id');
            var tdid = $(this).closest('td').attr('id'); 

            $(this).html(count);
            // 처리 후 클래스 변경
            $(this).addClass(click);
         // hallway버튼 눌렀을 때, 드래그한 td가 pc일 경우 번호 삭제
         } else if(click == "" && $(this).hasClass("pc") == true){
            count = $(this).text();
            $(this).html(click);
            pc.push(count);
            // 처리 후 클래스 변경
            $(this).removeClass("pc");            
         }
      }
   }).bind("selectstart", function() {
      return false; // prevent text selection in IE
   });

   // 드래그 끝나면
   $(document).mouseup(function() {
      isMouseDown = false;
      // 배열 내림차순 정렬
      pc = pc.sort(function(a,b) {
         return b - a;
      });
      //console.log("pc: ");//////////////////////////
      
   });
};

let type = function(row, cols){
   $("#seat").empty();
   let html = "";
   for(i=0; i<row; i++){
      html += "<tr id='"
      html += i+1;
      html += "'>";
      
      for(j=0; j<cols; j++){
         html += "<td class='seat' id='"
         html += j+1;
         html += "'>";
         html += "</td>";
      }
      
      html += "</tr>";
   
   }
   $("#seat").append(html);
}
</script>
<style>
   td{
      height:30px;
      width:30px;
   }
   .box{
      width:30px;
   }
</style>
</head>
<body>
<h1>입력사항 수정시 정보가 초기화 되므로 신중한입력 바랍니다.</h1>
   <div>
      <button type="button" class="type" value="pc">pc</button>
      <button type="button" class="type" value="">hallway</button>
       <button type="button" class="type" value="save" id="save">save</button><!-- 
      <button type="button" class="type" value="e">exit</button>
      <button type="button" class="type" value="f">Facilities</button>
      <button type="button" class="type" value="c">count</button>
      <button type="button" class="type" value="s">smoker</button>
      <button type="button" class="type" value="x">x</button> -->
   </div>
   <div>
   <input type="text" id="row" class="box">
   <input type="text" id="cols" class="box">
   <button type="button" id="put">칸</button>
   </div>
   <table id="seat" border="1">
   </table>
</body>
<script>
   // pc 번호를 행렬 크기만큼 배열에 넣는다.
   let pc = new Array();
   let row = 10;
   let cols = 10;
   let len = row*cols
   console.log("len: ", len);
   for(let i=len; i>0; i--) {
      pc.push(i);
   }
   //console.log("pc: ", pc);
   type(row, cols);
   drag(pc);
    
   $("#put").click(function(){
      row = $("#row").val();
      cols = $("#cols").val();
      len = row*cols
      //console.log("len: ", len);
      console.log(row);
      console.log(cols);
      pc = new Array();
      for(let i=len; i>0; i--) {
         pc.push(i);
      }
      //console.log("pc: ", pc);
      type(row, cols);
      drag(pc);
   });
</script>
</html>