<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Heroic Features - Start Bootstrap Template</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/heroic-features.css" rel="stylesheet">
<style>
	#logo{
		text-align: center;
		height:170px;
	}
	
	.gradation{
        background: linear-gradient(to right bottom, #B96BC6, #FE5196);
    }
</style>
</head>
<body>
	<div id="logo" >
		<img src="/loginimage/logo.jpg">
	</div>	
	<!-- 메뉴바 -->
	<div th:include="/part/templet::nav" class="gradation"></div>
	
	<div class="container">
		<br>
		<!-- Jumbotron Header(이벤트 배너) -->
			<div id="demo" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
			</ul>
			
			<!-- The slideshow 이미지 부분 -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="loginimage/event1.jpg" alt="Los Angeles" width="1100" height="500">
				</div>
				<div class="carousel-item">
					<img src="loginimage/event2.jpg" alt="Chicago" width="1100" height="500">
				</div>
				<div class="carousel-item">
					<img src="loginimage/event3.jpg" alt="New York" width="1100" height="500">
				</div>
			</div>	  
			<!-- Left and right controls 좌우 클릭 -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			</a>
		</div>		
		<br>
		<!-- Page Features(메인 베너) -->
		<div class="row text-center" id="main">
		</div>
	</div>
	<div th:include="/part/templet::copyright" class="gradation"></div>
</body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$.ajax({
		url:"/getFranchiseeList",
		method:"POST",
		success:function(json){
			/* console.log("success");
			console.log(json); */
			let html = "";
			$(json).each(function(index, item){
				html += "<div class='col-lg-3 col-md-6 mb-4'>";
				html += "<div class='card h-100'>";
				html += "<img class='card-img-top' src='http://placehold.it/500x325' alt=''>";
				html += "<div class='card-body'>";
				html += "<h4 class='card-title'>";
				html += item.franchiseeName;
				html += "</h4>";
				html += "<p class='card-text'>";
				html += "PC방 사양";
				html += "</p>";
				html += "</div>";
				html += "<div class='card-footer'>";
				html += "<a href='#' class='btn btn-primary'>";
				html += "상세";
				html += "</a>";
				html += "</div>";
				html += "</div>";
				html += "</div>";
			})
			$("#main").append(html);
		}
	})
</script>
</html>
