<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picaboo.nor.membership.mapper.MembershipMapper">
	<insert id="insertMembership" parameterType="com.picaboo.nor.membership.vo.Membership">
		INSERT INTO customer(
			customer_no,
			customer_id,
			customer_pw,
			customer_name,
			customer_birth,
			customer_gender,
			customer_email,
			customer_phone,
			customer_type
		) VALUES (
			#{customerNo},
			#{customerId},
			#{customerPw},
			#{customerName},
			#{customerBirth},
			#{customerGender},
			#{customerEmail},
			#{customerPhone},
			#{customerType}
		)
	</insert>
	
	<select id="selectMaxNo" resultType="String">
		SELECT *
		FROM customer_no_max
	</select>
	
	<select id="selectCustomerOne" parameterType="com.picaboo.nor.membership.vo.Login" resultType="com.picaboo.nor.membership.vo.Membership">
		SELECT  customer_id as customerId,
				customer_pw as customerPw,
				customer_name as customerName,
				customer_birth as customerBirth,
				customer_gender as customerGender,
				customer_email as customerEmail,
				customer_phone as customerPhone,
				customer_type as customerType
		FROM customer
		where customer_id = #{customerId} AND customer_pw = #{customerPw} 
	</select>
</mapper>